body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fffaf5;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #c0392b;
  color: white;
}

.btn-whatsapp {
  background: #25d366;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 40px 20px;
  text-align: center;
  background: #f5e6d3;
}

.produtos {
  padding: 30px 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.center{
    text-align: center;
}
.conteiner {
    padding: 20px 100px;
}
.conteiner2 {
    padding: 20px;
}
.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 16px;
  }
}
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
